

.t1{
margin-top: 2rem;
font-size:70px;
font-weight: 900;
position: relative;
color: #ffffff;
display: inline-flex;

}

.t1::after{
  content: " ";
  width: 0px;
  height: 10px;
  background-color: rgb(101, 23, 203);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 2s ease-in-out;
  
  
}
.t1:hover::after{
  width: 100%;
}
.t1 span{
color: rgb(101, 23, 203);
}


.about{
  display: flex; 
  background-color: black;
  height: auto; 
  color: #ffffff;


}

.about .left{
padding: 1rem;
height: auto;
width: 50%;
margin: 10px;
letter-spacing: 2px;
}
.about .right{
  padding: 1rem;
  height: auto;
  width: 40%;
  margin: 10px;
  letter-spacing: 2px;
  }

.about .left>h1{
color:rgb(255, 255, 255);
margin: 2rem 0 0;
font-weight: 800;
text-shadow: 5px 10px 15px #6941CE;
padding:  0 15px;
}
.about .left h1~h2, h1~h3{
color: #fbfbfb;
font-weight: 600;
text-shadow: 5px 10px 15px #565657;
padding:  0 15px;
font-size: 20px;
text-shadow: 5px 10px 15px #6941CE;
}

.about .left p{
  padding: 10px;
}

 
.about .left .redes ul{
list-style: none;
display: flex;
align-items: center;
margin: 0;
}

.about .left .redes ul li{
  margin: 0 5px;
  background-color: #00000070;
  border-radius: 20px;
  padding: 10px;
  border-radius: 50px;
box-shadow: 5px 15px 100px -30px rgba(165, 109, 234, 0.68);
border-bottom: solid white 1px;
}


.about .right{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;

}


.about .right .targeta{
width: 40%;
height: auto;
padding: 1rem;
background-color: #17151c5e;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin: 4px 0;
border-radius: 50px;
box-shadow: 5px 15px 100px -30px rgba(165, 109, 234, 0.68);
border-bottom: solid white 1px;
font-size: 13px;

}

.about .right .targeta h5{

  font-weight: 500;
  font-size: 15px;
  color: #6941CE;
}


.about .right .targeta .fa{
  height: 40px;
  font-size:25px;
}

 
button{
   border-color: blueviolet;
   background-color: black;
   font-size: large;
   color: white;
   border-radius: 30px;
   padding: 10px;
   letter-spacing: 2px;
   margin: 2px 20px;
   transition: ease-in-out .4s;
}


button:hover{
  background-color: rgba(99, 99, 99, 0.336);
}

button svg{
    width: 35px;
    height: 35px;
    background-color: blueviolet;
    color: blueviolet;
   margin-left: 30px;
   border-radius: 10px;
   padding: 6px;
}
.st{
 margin-top: 2rem;
font-size:70px;
font-weight: 900;
position: relative;
color: #ffffff;
text-shadow: 5px 10px 15px #6941CE;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
  margin-bottom:3rem; 
  

}

.skill {
  margin: 10px;
  padding: 2rem;
  height: auto;
  min-width: 200px;
  border-radius: 10%;
  border-color: rgba(240, 248, 255, 0.164);
  border-width: 40px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  border:  solid;
  box-shadow: 1px -4px 144px -55px rgba(237,237,237,0.68);
  opacity: .4;
  overflow: hidden;
  transition: .3s ease-in-out; 
  
}
.skill:hover{
  background-color: #2e2c2c9d;
  box-shadow: 1px -4px 144px -40px rgba(40, 21, 212, 0.881);
  opacity: 1;
  transform: translateY(-10px);
}
 

.skill h6 {
  font-weight: bold;
  font-size: 25px;
  color: white;
  transform: translateY(70px);
  transition: .5s ease-in-out ;
  margin-top: 5px;
  transition: .6s ease-in-out;
}
.skill:hover h6{
  transform: translateY(0px);
}


 .et{
  text-shadow: 5px 10px 15px #6941CE;
  margin-top: 2rem;
font-size:70px;
font-weight: 900;
position: relative;
}
.et span{
  color: #6e3bef ;
}

.education{
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 4rem;
 
}


.education .tableE{
  width:50% ;
  margin-right: 3%;
  margin-bottom: 2rem;
  border-radius: 50px;
  box-shadow: 40px 11px 110px -30px rgba(165, 109, 234, 0.68);
  border-bottom: solid white 2px;
  border-right: solid white 2px;
}
.education .tableE table{
  margin: 10px;

}

table td{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.021);
 
}
table td h6{
  border: 2px solid white;
  width: 60%;
  padding: 3px;
  border-radius: 30px;
  text-align: center;
  margin: 10px 0;
}

table td svg{
padding: 2px;
background-color: blueviolet;
height: 30px;
color: #b8b8b8;
border-radius: 50%;
margin: 5px 8px 5px 0;
}
.img_E{
  width: 40%;
}
.img_E img{
  height: 100%;
  width: 80%;

}
table td h6,h5{
  color: #b8b8b8;
  font-weight: lighter;

}
