.about{
   display: flex; 
   flex-direction: column;
   align-items: center;
   background-color: black;
   height: 100vh;
   color: #ffffff;
}

button{
    border-color: blueviolet;
    background-color: black;
    font-size: large;
    color: white;
    border-radius: 30px;
    padding: 10px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 7%;
    left: 10%;
    transition: ease-in-out .4s;
}
button:hover{
  background-color: rgba(99, 99, 99, 0.336);
}

button svg{
    width: 35px;
    height: 35px;
    background-color: blueviolet;
    color: blueviolet;
   margin-left: 30px;
   border-radius: 10px;
   padding: 6px;
}
.st{
    color:white;
    font-size: 50px;
    font-weight: bold;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.skill {
  margin: 30px;
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
}

.skill h6 {
  font-weight: bold;
  font-size: 20px;
  color: white;
  z-index: 1;
}

.education{
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 4rem;
 
}

.education .tableE{
  width:50% ;
  margin-right: 3%;
}
.education .tableE table{
  margin: 10px;
}

table td{
  padding: 10px;
}
table td h6{
  border: 2px solid white;
  width: 60%;
  padding: 3px;
  border-radius: 30px;
  text-align: center;
  margin: 10px 0;
}

table td svg{
padding: 2px;
background-color: blueviolet;
height: 30px;
color: #b8b8b8;
border-radius: 50%;
margin: 5px 8px 5px 0;
}
.img_E{
  width: 40%;
}
.img_E img{
  height: 100%;
  width: 80%;

}
table td h6,h5{
  color: #b8b8b8;
  font-weight: lighter;
}
